.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width:60%;
    display: flex;
    flex-direction: column;
    margin-top: 180px;
    gap: 25px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 35px;
    color: #2e2e2e;
}

.container{
    border: 1px solid #f0f0f0;
}

.container > :not(:last-child) {
    border-bottom: 1px solid #f0f0f0;
}

.infoContainer {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 2fr;
    background-color: #f0f0f0;
}

.infoContainer > :not(:last-child) {
    border-right: 1px solid #f0f0f0;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    color: #2e2e2e;
}

.padding {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}