.hidden {
    display: none;
}

@media (max-width: 480px){
    .bannerVisible{
        display: none;
    }
}

.bannerContainer {
    width: 100%;
    margin-top: 120px;
    background-color: green;
}

.bannerImg {
    max-width: 100%;
    width: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1020px;
}

@media (max-width:480px){
    .body{
        margin-top: 100px;
    }
}