.body {
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid lightgray;
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 1;
    visibility: visible;
    background-color: #00662E;
    color: white;
}

@media (max-width:480px){
    .body{
        height: 100px;
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    margin: 30px 0px;
    gap: 20px;
}
.headerInfoContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 50px;
    background-color: #FEFEE2;
}

@media (max-width:480px){
    .headerInfoContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.infoBox1 {

}

@media (max-width:480px){
    .infoBox1{
        display: none;
          }
}

.infoBox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pretendard-Regular';
    font-size: 14px;
    color: #3A3A3A;
    cursor: pointer;
    gap: 20px;
}

.categorieBox {
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: black;
    position: relative; /* 하위 메뉴의 위치 기준점 */
}



.categorieBox:hover .sub_cate01 {
    display: block; /* 마우스 오버 시 하위 메뉴 보이도록 설정 */
}

.infoBox3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pretendard-Regular';
}

.categorieBox a {
    color: #3A3A3A; /* 폰트 색상 설정 */
    text-decoration: none; /* 밑줄 제거 */
}
.categorieBox a:hover {
    text-decoration: none; /* 마우스 호버 시에도 밑줄 제거 */
}


@media (max-width:480px){
    .infoBox3{
        display: none;
    }
}

.headerIcon {
    font-size: 22px;
    margin-right: 20px;
    cursor: pointer;
    font-family: 'Pretendard-Regular';
    color: #000000;
}

@media (max-width:480px){
    .headerIcon{
        font-size: 20px;
    }
}

.moveButton {
    width: 80px;
    height: 40px;
    cursor: pointer;
    margin-right: 15px;
    font-family: 'Pretendard-Regular';
    border: 0;
    background-color: rgb(226, 225, 225);
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: 500;
}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
