.body {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid lightgray;
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 1;
    visibility: visible;
}

@media (max-width:480px){
    .body{
        height: 100px;
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.headerTitle {
    display: flex;
    align-items: center;
    height: 70px;
    cursor: pointer;
    margin: 20px 0px    ;
}
.headerTitleContainer{
    width:53%;
    display: flex;
    justify-content:right;
}
.headerTitleImg {
    width: 75px;
}

.headerInfoContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 50px;
}

@media (max-width:480px){
    .headerInfoContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.infoBox1 {

}

@media (max-width:480px){
    .infoBox1{
        display: none;
    }
}

.infoBox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #3A3A3A;
    cursor: pointer;
    gap: 80px;
}

.categorieBox {
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: relative; /* 하위 메뉴의 위치 기준점 */
}

.sub_cate01 {
    position: absolute;
    top: 100%; /* 상위 메뉴 바로 아래에 위치하도록 설정 */
    left: 0;
    z-index: 10;
    margin: 0;
    width: auto;
    min-width: 120px;
    padding: 10px 0;
    background-color: #fff;
    display: none;
    border: none;
    
}
.noChild {
    list-style: none; /* 리스트 불릿 제거 */
    padding: 10px; /* 패딩 설정 */
    border-bottom: 1px solid #ddd; /* 하위 메뉴 항목 사이의 구분선 */
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
    border-bottom: none; /* 하위 메뉴 항목 사이의 구분선 제거 */

}

.noChild:last-child {
    border: none;
}

.categorieBox:hover .sub_cate01 {
    display: block; /* 마우스 오버 시 하위 메뉴 보이도록 설정 */
}

.infoBox3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 47% ;
}

.categorieBox a {
    color: #3A3A3A; /* 폰트 색상 설정 */
    text-decoration: none; /* 밑줄 제거 */
}
.categorieBox a:hover {
    text-decoration: none; /* 마우스 호버 시에도 밑줄 제거 */
}


@media (max-width:480px){
    .infoBox3{
        display: none;
    }
}

.headerIcon {
    font-size: 22px;
    margin-right: 20px;
    cursor: pointer;
}

@media (max-width:480px){
    .headerIcon{
        font-size: 20px;
    }
}

.moveCenter {
    cursor: pointer;
    font-size: 18px;
}

