.body {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid lightgray;
    transition: opacity 0.5s, visibility 0.5s;
    opacity: 1;
    visibility: visible;
}

@media (max-width:480px){
    .body{
        height: 100px;
    }
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.headerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.headerInfoContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 50px;
}

@media (max-width:480px){
    .headerInfoContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.infoBox1 {

}

@media (max-width:480px){
    .infoBox1{
        display: none;
    }
}

.infoBox2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #3A3A3A;
    cursor: pointer;
}

.categorieBox {
    width: 70px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoBox3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:480px){
    .infoBox3{
        display: none;
    }
}

.headerIcon {
    font-size: 22px;
    margin-right: 20px;
    cursor: pointer;
}

@media (max-width:480px){
    .headerIcon{
        font-size: 20px;
    }
}



