.container{
    display: flex;
}

.leftBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
}

.farmName{
    font-size: 20px;
    font-weight: bold;

}

.farmContent{
    font-size: 15px;
}

.rightBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.clickIcon{
    cursor: pointer;
    font-size: 45px;
    color: green;
}