.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.wrapper {
    /* display: flex;
    flex-direction: column;
    width: 90%;
    padding: 50px 100px;
    gap: 40px; */
    margin-top: 20px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    
    width: 50%;
}

@media (max-width: 480px) {
    .wrapper{
        padding: 0;
    }
}
.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #dcdee0;
    padding: 10px 50px;
    margin-bottom: 50px;
    
}
.registerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #2e2e2e;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}

@media (max-width: 480px) {
    .registerTitle {
        font-size: 40px;
    }
}

.registerSection1{
    display: flex;
}

@media (max-width: 480px) {
    .registerSection1{
        flex-direction: column;
    }
}

.registerBox{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@media (max-width:480px) {
    .registerBox{
        width: 100%;
    }
}

.registerInputBox {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 50%;
    margin-top: 20px;
}

@media (max-width:480px) {
    .registerInputBox{
        margin-bottom: 10px;
    }
}

.registerInputTitle{
    font-size: 25px;
}

@media (max-width: 480px) {
    .registerInputTitle{
        font-size: 23px;
    }
}

.registerInput {
    border: 1px solid lightgray;
    height: 30px;
    width: 50%;
}

@media (max-width: 480px) {
    .registerInput{
        width: 100%;
        font-size: 18px;
        height: 40px;
    }
}

.registerInputForm{
    display: flex;
    gap: 15px;
}

.error {
    font-size: 15px;
    color: red;
}

@media (max-width:480px) {
    .error{
        font-size: 16px;
    }
}

.registerSection2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registerNum{
    width: 100px;
    height: 30px;
    font-size: 20px;
}

@media (max-width:480px) {
    .registerNum{
        height: 40px;
    }
}

.searchButton {
    width: 50px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.2s;
    border: 0.1px solid #dcdee0;
    border-radius: 5%;
}

.searchButton:hover {
    transform: scale(1.1);
}

.searchButton:active {
    transform: scale(1.0);
}

@media (max-width:480px) {
    .searchButton{
        height: 40px;
    }
}

.reigsterAddress1{
    width: 50%;
    height: 30px;
    font-size: 20px;
}

@media (max-width:480px) {
    .reigsterAddress1{
        width: 100%;
        height: 40px;
    }
}

.reigsterAddress2{
    width: 50%;
    height: 30px;
    font-size: 20px;
}

@media (max-width: 480px) {
    .reigsterAddress2{
        width: 100%;
        height: 40px;
    }
}

.submitContainer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitButton{
    /* width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: 18px;
    transition: all 0.2s; */
    cursor: pointer;
    width: 120px;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    transition: all 0.2s;
}

.submitButton:hover{
    transform: scale(1.1);
}

.submitButton:active{
    transform: scale(1.0);
}