.container {
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 1fr  1fr 1fr;
}

.container > :not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.selectBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selectBox > :not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.select{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blue{
    color: blue;
}

.red {
    color: red;
}