.homeBody {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url('/img/home/coverImg.jpg');
    background-size: cover; /* 배경 이미지 크기 조절 */
    background-position: center; /* 배경 이미지 중앙 정렬 */
    background-repeat: no-repeat; /* 배경 이미지 반복 제거 */
}

.homeWrapper {
    width: 30%;
    height: 50%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px){
    .homeWrapper {
        width: 50%;
    }
}

@media (max-width: 480px){
    .homeWrapper {
        width: 70%;
    }
}


.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 40%;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    margin-top: 50px;
}

@media (max-width: 767px){
    .logo{
        width: 40%;
    }
}

@media (max-width: 480px){
    .logo{
        width: 45%;
    }
}

.logoTitle{
    font-size: 35px;
}

@media (max-width:767px){
    .logoTitle{
        font-size: 30px;
    }
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 60%;
}

.selectButton{
    width: 60%;
    height: 20%;
    font-size: 35px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'SBAggroB', sans-serif;
    transition: all 0.2s;
}

@media (max-width: 767px){
    .selectButton {
        width: 75%;
        height: 25%;
    }
}

@media (max-width: 480px){
    .selectButton {
        width: 75%;
        height: 25%;
        font-size: 30px;
    }
}

@media (max-width: 320px){
    .selectButton {
        font-size: 25px;
    }
}



.selectButton:hover {
    transform: scale(1.1);
}

.selectButton:active {
    transform: scale(1.0);
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}