.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 220px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
    color: #3f3f3f;
    margin-bottom: 50px;
}

.detailContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.detailContainer > :not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.infoBox {
    display: grid;
    grid-template-columns: 1.5fr 3.5fr 1fr  1.5fr 1fr;
}

.infoBox > :not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.infoContent{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    color: #3f3f3f;
    padding: 10px;;
    background-color: rgb(226, 225, 225);
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: 500;
}

