.body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.wrappers{
    margin-top: 20px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media (max-width:480px) {
    .wrappers {
        width: 80%;
        margin-top: 0;
    }
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #2e2e2e;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}
.registerTitle{
    font-size: 25px;
    font-weight: bold;
    color: #2e2e2e;
    margin-left: 10px;
}

@media (max-width:480px) {
    .registerTitle {
        font-size: 35px;
    }
}

.farmContainer{
    border: 1px solid #dcdee0;
    padding: 10px 15px;
}

.farmContainer > :not(:last-child) {
    border-bottom: 1px solid #dcdee0;
    margin-bottom: 10px;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #dcdee0;
    padding: 10px 15px;
    margin-bottom: 50px;
}

.inputTitle { 
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.box {
    display: flex;
    gap: 20px;
}

.mount {
    border: 1px solid #dcdee0;
    border-radius: 5px;
    font-size: 18px;
}

.submitBox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.submitButton {
    cursor: pointer;
    width: 120px;
    height: 60px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    transition: all 0.2s;
}

.submitButton:hover{
    transform: scale(1.1);
}

.submitButton:active{
    transform: scale(1.0);
}

.error {
    font-size: 15px;
    color: red;
}

@media (max-width:480px) {
    .error{
        font-size: 16px;
    }
}