.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 140px;
    margin-bottom: 140px;
    width: 70%;
}

.title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
}

.contentContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(252px, 1fr));
    gap: 1.7%;
}

@media (max-width:480px) {
    .contentContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.contentBox {
    width: 252px;
    height: 350px;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgba(0,0,0,0.1); */
    border: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
}

.imgBox{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    /* border-bottom: 1px solid rgba(0,0,0,0.1); */
}

.imgBox img{
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.contentsBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* padding-bottom: 10px; */
}

.contentsTitle {
    font-size: 18px;
}

.contentsPrice {
    color: black;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: black;
}