.body {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    height: 1200px;
    margin-top: 120px;
    padding: 30px 0;
}

@media (max-width: 480px) {
    .wrapper{
        width: 80%;
    }
}
.mainTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #2e2e2e;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}
.farmBox{
    display: flex;
    font-size: 18px;
}

@media (max-width:480px) {
    .farmBox{
        font-size: 15px;
    }
}

.farmBox > *:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,0.1) ;
}

.farmName{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    padding: 10px 0;
}

.farmAddress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.farmSelectBox{
    display: flex;
    width: 15%;
}

.farmSelectBox > *:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,0.1) ;
}

.farmSelect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    cursor: pointer;
}

.title {
    font-size: 25px;
    font-weight: bold;
}

@media (max-width:480px) {
    .title{
        font-size: 35px;
    }
}

.farmContainer{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.farmContainer > *:not(:last-child){
    border-bottom: 1px solid rgba(0,0,0,0.1) ;
}

.farminfoBox{
    display: flex;
    background-color: #e5e4e4;
    height: 40px;
}

.farminfoBox > *:not(:last-child) {
    border-right: 1px solid rgba(0,0,0,0.1) ;
}

.farminfoName{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    font-size: 25px;
}

@media (max-width: 480px) {
    .farminfoName{
        font-size: 20px;
    }
}

.farminfoaddress{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    font-size: 25px;
}

@media (max-width:480px) {
 .farminfoaddress{
    font-size: 20px;
 }   
}

.farminfoSelect{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    font-size: 25px;
}

@media (max-width:480px) {
 .farminfoSelect{
    font-size: 20px;
 }   
}

.farminfoContent{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    width: 20%;
}

@media (max-width:480px) {
 .farminfoContent{
    font-size: 20px;
 }   
}