.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    margin-top: 220px;
    width: 55%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 60px; */
    padding: 0 50px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
    color: #3f3f3f;
    margin-bottom: 90px;;
}

.inputContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    margin-bottom: 60px;
}

.inputBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.subtitle {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
    color: #3f3f3f;
}

.input {
    width: 180px;
    height: 35px;
    margin-bottom: 40px;
}

.submitButton {
    width: 150px;
    height: 55px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 100px;;
}


.submitButton:hover {
    transform: scale(1.1);
}

.submitButton:active {
    transform: scale(1.0);
}

.chartBox {
    width: 50%;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: 500;
}