.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    margin-top: 13%;
    width: 55%;
    padding: 0 50px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
    color: #3f3f3f;
    margin-bottom: 50px;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}
.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 70%;
    margin: 30px 0pxs;
}
.resultContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 70%;
}
.inputBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    /* grid-template-columns: 1fr 2fr; */
    /* height: 30px; */
    gap: 10px;
    /* vertical-align: middle; */
}

.inputTitle{
    /* font-size: 45px;
    font-weight: bold; */
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
    color: #3f3f3f;
    /* margin-bottom: 30px; */
    display: flex;
    align-items: center;
    height: 100%;
    width: 120px;
}
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;

}
.result{
    font-size: 20px;
    font-weight: bold;
    color: #3f3f3f;
}
.inputButton {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 5px;
    border: none;
    /* border: 1px solid #dcdee0; */
}

.inputButton:hover{
    transform: scale(1.1);
}

.inputButton:active{
    transform: scale(1.0);
}


.subtitle {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Pretendard-Regular';
    color: #3f3f3f;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    gap: 10px;
    padding: 10px;
}

.submitButton {
    width: 150px;
    height: 55px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 100px;;
}


.submitButton:hover {
    transform: scale(1.1);
}

.submitButton:active {
    transform: scale(1.0);
}

.chartBox {
    width: 50%;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 500;
    font-style: 500;
}
