.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 65%;
    /* background-color: lightgray; */
    border-radius: 5px;
    height: auto;
}

.titleForm{
    font-size: 45px;
    font-weight: bold;
    padding: 20px 30px;
}

.dateForm {
    font-size: 18px;
    color: gray;
    padding: 20px 30px;
}

.contentForm{
    margin-top: 30px;
    font-size: 20px;
    padding: 20px 30px;
}

.reviewContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 50px;
    gap: 20px;
}

.reviewTitle{
    font-size: 30px;
    font-weight: bold;
}

.writeContainer{
    display: flex;
    gap: 70px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 20px;
    align-items: center;
}

.writeInput {
    font-size: 20px;
    height: 100%;
}

.writeSubmit {
    cursor: pointer;
    width: 100px;
    height: 100px;
    font-size: 20px;
    transition: all 0.2s;
}

.writeSubmit:hover {
    transform: scale(1.1);
}

.writeSubmit:active{
    transform: scale(1.0);
}

.reviewBox{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    margin-bottom: 50px;
}

.reviewBox > :not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.reviewInfoBox {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.reviewInfoBox > :not(:last-child) {
    border-right: 1px solid lightgray;
}

.reviewCenterInfoBox {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
}
.reviewCenterInfoBox > :not(:last-child) {
    border-right: 1px solid lightgray;
}

.reviewInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.selectBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.selectBox > :not(:last-child) {
    border-right: 1px solid lightgray;
}

.select {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select:hover {
    color: #346AFF;
}

.select:active {
    color: black;
}